* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Comic Sans MS", sans-serif;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bgi.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1; 
}

header{
    background-color: rgb(11, 1, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: azure;
    padding: 10px;
}

.logo{
    font-size: 33px;
    font-weight: bold;
    color: #fff;
}


.navbar ul{
    display: flex;
    align-items: center;
    gap:22px;
}

.navbar ul li a{
    color:white;
}

.navbar ul li a:hover{
    text-decoration: underline;
}

.button{
    margin-right: 20px;
}

.btn{
    width: 100px;
    padding:5px;
    border: none;
    outline: none;
    background-color:yellowgreen;
    color: #000;
    font-size: 19px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -2px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .hero-content{
    margin-left: 50px;
    margin-top: -125px;
}

.hero-content h1{
    font-size: 55px;
    font-weight: bold;
}

.hero-content p{
    font-size: 15px;
    font-weight: bold;
    color:black;
    width:60%;
}

button{
    margin-top: 20px;
}

.btnn{
    width: 110px;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 22px 30px yellowgreen;
    font-size: 19px;
    font-weight: bold;
    background-color:yellowgreen;
    cursor: pointer;
}

.image{
    margin-right:-150px;
}

.image img{
    width:900px;
    filter: drop-shadow(0 0 10px black);
}

@media (max-width:1252px){
    .hero .hero-content p{
        width:80%;
    }

    .hero .hero-content{
        margin-left: 15px;
    }
}